body{
    font-family: system-ui;
}

.check-label{
    padding: 3px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(95, 94, 94);
}

.check{
    margin: 0;
    margin-right: 7px;
    accent-color: #14b8a6;
    cursor: pointer;
    border-radius: 10px;
}

.signup-button{
    width: 100%;
    margin: 0;
    border: none;
    margin-top: 20px;
}

.pm01{
    display: flex;
    justify-content: center;
}

.pm01 p{
    font-size: 15px;
    padding: 10px;
}

.pm01 a{
    text-decoration: underline;
    color: #14b8a6;
}

.pm01 a:hover{
    color: #0f766e;
}

.main-con{
    display: flex;
}

.side-con{
    border: 1px solid rgb(234, 234, 234);
    width: 20%;
    padding: 10px;
    background-color: #f3f4f6;
    margin: 20px;
    margin-right: 0;
    border-radius: 10px;
}

.side-con input{
    padding: 15px;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #ffffff;
}

.side-con input::placeholder{
    color: rgb(152, 152, 152);
    font-size: 12px;
    background-color: #ffffff;
}

.side-search, .side-nav, .clear-con{
    margin-bottom: 35px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(234, 234, 234);
    border-radius: 10px;
    padding: 10px;
}

.side-nav p, .clear-con p{
    font-weight: 600;
    margin: 0;
    padding-bottom: 10px;
}

.side-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav ul li{
    padding-top: 7px;
}

.side-nav a{
    color: rgb(101, 99, 99);
}

.side-nav a:hover{
    color: black;
}

.side-con button{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight:400;
    font-size: 15px;
    cursor: pointer;
}

.search-btn{
    background-color: #14b8a6;
}

.clear-btn{
    margin-top: 10px;
    background-color: #f8ab26;
}

.list-price{
    color: rgb(215, 48, 48);
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 400;
    margin-left: 7px;
}

.price{
    font-weight: 400;
    font-size: 17px;
}

.item-con{
    display: flex;
    padding: 20px;
}

.item-imag{
    border: 1px solid rgb(234, 234, 234);
    padding: 15px;
    background-color: #f3f4f6;
    border-radius: 10px;
    width: 80%;
    height: 600px;
}

.item-imag img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.item-data{
    border: 1px solid rgb(234, 234, 234);
    background-color: #f3f4f6;
    border-radius: 10px;
    padding: 15px;
    margin-left: 20px;
}
.item-data h3{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 50px;
}

.D-P{
    font-weight: 400;
    font-size: 18px;
    color: #000000;;
}

.order-btn{
    background-color: #3B82F6;
    border: none;
    padding: 20px 30px 20px 30px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    width: 48%;
    margin-top: 30px;
}

.order-btn:hover{
    background-color: #1D4ED8;
}

.contact-btn{
    background-color:#14b8a6;
}

.contact-btn:hover{
    background-color: #0f766e;
}

.pm02{
    margin-top: 70px;
    margin-bottom: 0;
    color: #dc2626;;
    font-weight: 600;
}

.item-data label{
    display: block; 
    margin-top: 10px;
}

#color-select {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 27%;
    margin-top: 10px;
}

.btn-con{
    display: flex;
    justify-content: space-around;
}