body{
    font-family: system-ui;
}

.check-label{
    padding: 3px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: rgb(102, 101, 101);
}

.check{
    margin-right: 10px;
    border: 1px solid rgb(115, 114, 114);
    background-color: rgb(255, 255, 255); 
    border-radius: 4px;
    width: 13px;
    height: 13px;
}

.check:checked{
    background-color: #14b8a6;
}

.signup-button{
    width: 100%;
    margin: 0;
    border: none;
    margin-top: 20px;
}

.pm01{
    display: flex;
    justify-content: center;
}

.pm01 a{
    text-decoration: underline;
    color: #14b8a6;
}

.pm01 a:hover{
    color: #0f766e;
}
